:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.brand {
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-surface);
}
